* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

hr {
    margin: 5px 0;
}

main {
    width: 100%;
    margin: auto;
    max-width: 1000px;
}

section {
    width: 60%;
    float: left;
    padding: 10px 40px;
}
 
article {
    margin-bottom: 20px;
}

.detalles {
    visibility: hidden;
    height: 0;
}

aside {
    width: 40%;
    float: left;
    padding: 10px 40px;
}

img {
    border: 1px solid gray;
}

aside img {
    width: 80%;
}

aside>p {
    font-weight: bold;
}

.clearfix::after {
    clear: both;
    display: block;
}